body {
   background-color: transparent;
   padding: 0 !important;
   margin: 0 !important;

   font-family: 'Roboto', sans-serif;
   color: black;
   text-align: center;
}

.odometer {
   font-size: 200px;
   margin-bottom: 2%;
}